@charset "UTF-8";
/*
Fonts
*/
.noto-sans-kr-font-regular {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*
Main Page
*/
body{
  background-color: lightpink;
  font-family: Noto Sans KR;
  font-weight: 500;
}

.content, .quizpage{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fafafa;
  border-radius: 10px;
  border-radius: 10px;
  padding: 100px 10px;
}

h1, h2{
  color: black;
  text-shadow: 1px 1px white;
  font-weight: 800;
}

.content h1{
  animation-name: floatdown;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  position: relative;
}

.content h2{
  animation-name: floatup;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes floatdown {
  50%{
    transform: translateY(20px);
  }
}

@keyframes floatup {
  50%{
    transform: translateY(-20px);
  }
}

/*
Quiz Selection/Quiz Page
*/

.quizpage{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quizpage button{
  align-items: center;
  background-color: lightgrey;
  border-radius: 15px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  color: black;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .25px;
  overflow: visible;
  padding: 4px 24px;
}

.quizlist a{
  color: black;
  display: block;
  text-decoration: none;
}

.quizlist button{
  margin-bottom: 10px;
}

button:hover{
  background-color:grey;
}

.answerbox{
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.quizheader{
  display: block;
}

.quizprompt,
.quiztimetwelvehoursbutton,
.quiztimedaysoftheweek,
.quiznumbersinozerototen,
.quiznumbernativeonetoten{
  display: block;
}

.questionnumber, .nonchangingquestion, .question{
  display: none;
}

.correctanswerprompt{
  display: none;
}

.incorrectanswerprompt{
  display: none;
}

.revealanswer, .userinputanswerprompt, .userinputanswer, .continuebutton{
  display: none;
}

.answerbox, .submitbutton{
  display: none;
}

.score, .backbutton{
  display: none;
}

/*
Top Navigation Bar
*/
.nav{
    background-color: lightgrey;
    overflow: hidden;
    border-radius: 10px;
    font-weight: bold;
    text-shadow: 1px 1px grey;
}

.nav a:first-child{
  float: left;
}

.nav a{
  float: right;
  background-color: lightgrey;
  display: block;
  color: black;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover{
  background-color:grey;
}

.nav a.active{
  background-color:yellow;
}
